<suite name="Test Suite for NBCIdx" parallel="methods" thread-count="1">

  	<parameter name="Environment" value="QA"/>

  	<test name="Tests">

		<!-- Enter group name for specific test scripts-->
		<groups>
	 		<run>
	 			<include name="full"/>
	 			<include name="QA_Internal"/>
	 		</run>
		</groups>

		<!-- Add individual packages you wanted to execute below-->
   		<packages>
   			<package name="com.nbcuni.test.nbcidx.member.*"/>
		</packages>

		<!-- Add individual classes you wanted to execute below-->
		<!-- classes>			
			<class name="com.nbcuni.test.nbcidx.member.link_noverify.errorcodes.TC5358_MemberLinkNoVerify_Error_409"/>
		</classes> -->
	</test>
		
	<listeners>
    	<listener class-name="com.nbcuni.test.webdriver.CustomWebDriverExceptionListener"/>
	</listeners>

</suite>
